@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "YuGothic";
  font-size: 16px;
  line-height: 1;
}

img {
  max-width: 100%;
}

.header-container {
  max-width: 1600px;
  height: 110px;
  background-color: rgba(39,31,31,0.5);
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.toggle-menu-button {
  display: none;
}

.header-logo {
  display: flex;
  width: 170px;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 12px;
}

footer {
  background-color: #595656;
  color: #ffffff;
  padding: 150px 110px ;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.footer-logo {
  display: flex;
  width: 50px;
}

.footer-site-menu ul li {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 12px;
}

.footer-name-2 {
  padding-bottom: 30px;
  font-size: 10px;
}

.footer-name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
}

.footer-mail {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-tel {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-fax {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-left {
  letter-spacing: 5px;
}

.footer-site-menu {
  border-left: dashed white;
  border-width: 0.3px;
  padding-left: 8px;
}

.copyright {
  font-size: 10px;
  margin-top: 40px;
}