/* iphone向けレイアウト */


@media (max-width: 420px) {

  *{
    box-sizing: border-box;
  }

  .header-container{
    padding-left: 0px;
    width: 100%;
    padding-right: 30px;
  }

 .header-menu-site{
    display:none;
  }

  .top-wrapper h1{
    padding-top: 500px;
  }

  /* TOPページ */

  .top {
    color: #ffffff;
    text-shadow: 1px 1px 10px #595656;
    height: 100vh;
  }
  
  .top-wrapper h1 {
    font-size: 26px;
    letter-spacing: 8px;
    padding-top: 400px;
    padding-left: 30px;
    line-height: 50px;
    font-family: 'Klee One', cursive;
  }
  
  .top-wrapper p {
    font-size: 10px;
    letter-spacing: 5px;
    padding-top: 40px;
    padding-left: 30px;
    line-height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 50px;
  }

  .menu-btn {
    display: block;
  }

  /* video */

  .video {
    display: none;
  }

  .visual {
    width: 100%;
    height: 100vh;
    background: url(./../images/test.jpg) no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    display: block;
  }

  .visual::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #10394b;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .3;
  }
  
  .visual video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

/*ここからleadの記述*/

.lead h2 {
  font-size: 12px;
  text-align: left;
  padding-left: 50px;
}

.lead {
  padding: 80px 0px;
}

.lead-left {
  padding-left: 0px;
}

.lead-wrapper {
  padding: 50px 0px 0px 50px;
  flex-direction : column-reverse;
  align-items: flex-start;
}

.lead-left h3 {
  padding-bottom: 23px;
}

.lead-left p {
  font-size: 12px;
  line-height: 25px;
  padding-bottom: 27px;
}

.lead-button {
  font-size: 13px;
}

.lead-right img {
  width: 80%;
  height: auto;
  margin-bottom: 50px;
}

/*ここからaboutusの記述*/

.aboutus {
  background-image: url(./../images/aboutus.jpg);
  background-position: center center;
}

.aboutuswrapper {
  padding: 150px 10px 150px 10px;
}

.aboutus-text {
  line-height: 28px;
  color: #e1e1e1;
  text-shadow: 1px 1px 10px #595656;
}

.aboutus h4 {
  font-size: 14px;
}

.aboutus p {
  font-size: 12px;
  text-shadow: 1px 1px 10px #595656;
}

/*ここからmoreの記述*/

.more-wrapper {
  display: block;
  padding: 50px;
}

.more h2 {
  padding-top: 100px;
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 1em;
  text-decoration-thickness: 0.1px;
  text-align: center;
}

.more img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}


.more h1 {
  font-size: 20px;
}

.more p {
  font-size: 12px;
  padding-bottom: 50px;
}

/*ここからproductの記述*/

.product-ex {
  padding: 40px 10px 30px 10px ;
}

.product-ex-wrapper {
  padding: 0px;
}

.product-ex-wrapper li {
  width: 160px;
}

.product-ex-wrapper img {
  padding-right: 4px;
}

/*ここからbtnの記述*/

.btn {
  padding: 10px 0px 0px 0px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  display: flex;
}

.btn:hover {
  opacity: 1;
}

.btn-wrapper p {
  margin: 0px 0px 0px 10px;
  font-size: 18px; 
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
 }

/*ここからflowの記述*/

.flow-wrapper {
  padding: 150px 0px 0px 0px;
  color: #656565;
}

.flow-line {
  display: none;
}

.flow-line p {
  display: none;
}

.flow-main {
  display: block;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.flow-left {
  width: 100%;
}

.flow-left p {
  padding: 20px 0;
  line-height: 21px;
  font-size: 14px;
}

.flow-right img {
  height: 200px;
}

/*ここからshishuの記述*/

.shishu-image {
  display: none;
}

.shishu {
  height: 700px;
  position: relative;
  background-image: url(./../images/shishu01.jpg);
  background-size: cover;
}

.shishu-text {
  line-height: 30px;
  color: #e1e1e1;
  position: absolute;
  top: 27%;
  left: 10%;
  transform: translate(-0%,-0%);
  margin-bottom: 0.2rem;
  padding: 0 0 0 30px;
  border-left: 1px dashed;
  text-shadow: 0px 0px 10px #595656;
}

.shishu h4 {
  padding-bottom: 30px;
  font-size: 18px;
}

.shishu p {
  font-size: 12px;
  padding-right: 50px;
}

/*ここからprofileの記述*/

.store {
  display: block;
  padding:0px;
  margin-left: 40px;
}

.line {
  display: none;
}

.store-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 100px;
}

.store-right {
  padding-top: 50px;
  margin-left: 0px;
}

.store-text-1-text h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.store-text-1-text h5 {
  font-size: 12px;
}

.store-text-1 {
  display: flex;
  margin-bottom: 50px;
}

.store-text-img {
  width: 50px;
  margin-left: 20px;
}

.store-text-2 {
  display: flex;
  margin-bottom: 50px;
  line-height: 15px;
}

.text-right {
  padding-right: 20px;
}

.store-text-3 {
  line-height: 20px;
  font-size: 12px;
}

.text-right p {
  font-size: 12px;
}

.store-text-2 p {
  font-size: 12px;
}

/*ここからCONTACTの記述*/

.contact {
  margin: 50px 50px 20px 30px;
  color: #595656;
  flex-direction : column-reverse
}

.contact-text {
  margin-right: 0px;
}

.contact img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 50px;
}

.contact-text h4 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.contact-text h5 {
  font-size: 12px;
  margin-bottom: 30px;
}

.contact-text h6 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact-text p {
  line-height: 30px;
  font-size: 12px;
}

.line-it-button {
  margin: 30px 0;
}

/*ここからaccessの記述*/


.access {
  display: block;
  margin: 0px;
}
.map {
  margin: 0px 0px 0px 30px;
}

.access-text {
  margin: 50px 50px 50px 30px;
}

.access-text h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.access-text h5 {
  font-size: 12px;
  margin-bottom: 30px;
}

.access-text p {
  margin-top: 30px;
  line-height: 30px;
  font-size: 12px;
}

/*ここからfooterの記述*/

footer {
  background-color: #595656;
  color: #ffffff;
  width: 100%;
  display: block;
  padding: 0;
  height: 400px; 
}

.footer-wrapper {
  margin: 0 0 100px 50px;
  display: block;
  padding-top: 50px;
}

.footer-left {
  display: none;
}

.footer-site-menu ul li {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 12px;
  transition: all 0.3s;
}

.footer-site-menu ul li:hover {
  cursor: pointer;
  text-shadow: 1px 1px 3px white;
  transition: 0.3s;
}

.footer-site-menu {
  border-left: 0.1px solid;
  border-width: 0.3px;
  padding-left: 8px;
}

.copyright {
  font-size: 10px;
  margin-top: 40px;
}


.instabutton-r {
  margin: 50px 0 0 0;
}

.mai-r {
  margin-top: 50px;
  font-size: 12px;
  line-height: 20px;
  vertical-align: middle;
}

.mai-r p {
  margin-bottom: 10px;
}

}



/* タブレット向けレイアウト */